@import url('https://fonts.googleapix.com/css2?family=Lato&display=swap');


body {
    background-color: rgb(69, 69, 69);
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family:  'Lato', sans-serif;
    word-wrap: break-word;
  }

.Block {
    border: 1px solid rgb(255, 255, 255);
    padding: 5%;
    margin-left:20%;
    margin-right:20%;
    margin-top:1%;
    margin-bottom: 1%;
  }

.doTransaction {
  margin-left:30%;
  margin-right:30%;
}

.form-control{
  margin-top:1%;
  margin-bottom: 1%;
}

.btn{
  margin-top:3%;
}

.btn-big{
  height: 100px;
  width: 200px;
  font-size: 40px;
}

.logo{
  height: 300px;
  width: 300px;
}



  