.navbar {
    background-color: rgb(46, 47, 48);
    height: 80px;
    display: flex;
    align-items: center;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 3px solid rgb(30, 30, 30);
}

.menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: rgb(46, 47, 48);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    border-right: 3px solid rgb(30, 30, 30);
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-left: -20px;
}

.nav-text a:hover {
    background-color: #ffffff;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: rgb(46, 47, 48);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-bar{
    width: 80px;
    height: 80px;
    margin-left: 93%;
}

span {
    margin-left: 16px;
}