.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 50%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    margin-left: auto;
    margin-right: auto;
  }
  
  .content-table thead tr {
    background-color: rgb(46, 47, 48);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr
  {
    border-bottom: 1px solid rgb(46, 47, 48);
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #3d3d3d;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 3px solid rgb(46, 47, 48);
  }
  
  .content-table tbody tr:hover {
    font-weight: bolder;
    color: rgb(46, 47, 48);
    background-color: #ffffff;
  }
  
  .content-table form {
    color: black;
  }